/****start default theme  ****/
/* active link */
.navbar-expand-lg .navbar-nav .active,
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown hr,
.features,
.price-table,
.price-table .price-pox p,
.subscribe,
.our-clients
{
    background-color:var(--main-color);
}
.navbar-brand span,
.about h1,
.about p span,
.testimonials .carousel-item div,
.statistics .stats:hover,
.footer .copy-right span{
    color:var(--main-color)
}
.testimonials .carousel-indicators button.active{
    border: 5px solid var(--main-color); 
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
    border-top: 3px solid var(--main-color);
}
.option-box .gear-check,
#scroll-top{
    background-color:#e41b17;
}
/****end default theme  ****/